<ion-header>
  <ion-toolbar>
    <ion-title> Publicar Garage </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2">
        <form [formGroup]="garageForm" (ngSubmit)="saveGarage()" style="border-radius: 5px; background-color: #fff;">
            
          <ion-card-header class="borde-interior">
            <ion-card-title> </ion-card-title> 
          </ion-card-header>  

          <ion-card class="borde-interior">

            <ion-list class="borde-interior">

              <ion-item class="borde-interior">
                <ion-label style="flex: 2;">Imagen</ion-label>
                <input type="file" (change)="onFileSelected($event)">
              </ion-item>

              <ion-item class="borde-interior">
                <ion-label style="flex: 2;">Alt</ion-label>
                <ion-input type="text" formControlName="alt"></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-label style="flex: 2;">Fecha de Publicación</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="publication_date" readonly></ion-datetime>
              </ion-item>

              <ion-item class="borde-interior">
                <select formControlName="garageId">
                  <option *ngFor="let garage of garages" [value]="garage.id">{{ garage.name }}</option>
                </select>
              </ion-item>

            </ion-list>
          </ion-card>
    
          <button class="boton-crear" expand="full" type="submit">Guardar Garage</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




