<ion-header>
  <ion-toolbar style="--background: transparent; --border-color: transparent;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="appbar">{{constants.APP_NAME}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="about-container">

    <h1 id="customer-agreement"><u>Customer Agreement</u></h1>
    <h1 id="t-rminos-de-aceptaci-n">Términos de Aceptación</h1>
    <p>Este acuerdo del Cliente (en adelante &quot;Acuerdo&quot;) establece los términos y condiciones bajo los cuales
      Aparking ofrece sus servicios a los usuarios finales (en adelante, &quot;Cliente&quot;) utilizando nuestra
      aplicación
      y sitio web de búsqueda de aparcamiento.</p>
    <h1 id="uso-del-servicio">Uso del Servicio</h1>
    <p>El Cliente se compromete a utilizar el Servicio únicamente para fines legales y de conformidad con este Acuerdo,
      asumiendo la responsabilidad total de todas las actividades realizadas bajo su cuenta.</p>
    <h1 id="descripci-n-de-servicios">Descripción de Servicios</h1>
    <p>Nuestra oferta, incluido el Alquiler de Garajes, Mostrar Aparcamientos Libres en la Calle, y Cesión de
      Aparcamiento
      en la Calle, está sujeta a limitaciones o restricciones específicas, detalladas dentro de nuestras descripciones
      de
      servicio.</p>
    <h4 id="servicios-productos-">
      <p>Servicios/Productos:</p>
    </h4>


    <p>
      <li><strong>Alquiler de Garajes:</strong>
        <ul>
          <li>Este servicio implica la provisión de garajes para el estacionamiento de vehículos. Los garajes
            ofrecidos
            cumplirán con los estándares de seguridad y comodidad requeridos por las regulaciones pertinentes.</li>
        </ul>
      </li>
      <li><strong>Mostrar Aparcamientos Libres en la Calle:</strong>
        <ul>
          <li>El Proveedor se compromete a proporcionar al Cliente información en tiempo real sobre los aparcamientos
            disponibles en la calle en ubicaciones específicas. Esto se realizará a través de una plataforma digital o
            aplicación móvil desarrollada para este propósito.</li>
        </ul>
      </li>
      <li><strong>Cesión de Aparcamiento en la Calle:</strong>
        <ul>
          <li>Este servicio implica la gestión y asignación de espacios de estacionamiento en la calle a los usuarios
            que
            lo
            requieran. El Proveedor coordinará con las autoridades locales para asegurar la disponibilidad y legalidad
            de
            los espacios asignados.</li>
        </ul>
      </li>
    </p>


    <h4 id="limitaciones-o-restricciones-">
      <p>Limitaciones o Restricciones:</p>
    </h4>
    <ul>
      <p>
        <li>Los servicios de alquiler de garajes están sujetos a la disponibilidad de espacios en las ubicaciones
          especificadas por el Proveedor.</li>
        <li>La información sobre los aparcamientos libres en la calle se basa en datos proporcionados por terceros y
          puede
          estar sujeta a cambios sin previo aviso.</li>
        <li>La cesión de aparcamiento en la calle está sujeta a la normativa y regulaciones locales, y la disponibilidad
          de
          espacios puede variar dependiendo de la zona y la hora del día.</li>
      </p>
    </ul>

    <p>El Cliente acepta que el alcance de los servicios/productos proporcionados estará sujeto a las limitaciones y
      restricciones mencionadas anteriormente.</p>
    <h1 id="obligaciones-de-aparking">Obligaciones de Aparking</h1>
    <p>Aparking y los Clientes están sujetos a obligaciones detalladas respecto a la provisión y utilización de
      servicios/productos, que abarcan el pago, el uso adecuado, la precisión de la información, la cooperación para la
      entrega eficiente del servicio y la resolución de problemas.</p>
    <p>
      <li><strong>
          <p>Provisión de Servicios/Productos:</p>
        </strong>

        <ul>
          <li>Aparking se compromete a proporcionar los servicios/productos acordados de manera eficiente y profesional,
            cumpliendo con los estándares de calidad especificados en el presente acuerdo.</li>
        </ul>
      </li>
      <li><strong>Calidad del Servicio/Productos:</strong>
        <ul>
          <li>Aparking garantiza que los servicios/productos entregados cumplirán con los niveles de calidad acordados y
            serán libres de defectos o fallos que afecten su funcionalidad.</li>
        </ul>
      </li>
      <li><strong>Tiempo de Respuesta:</strong>
        <ul>
          <li>Aparking se compromete a mantener tiempos de respuesta adecuados para atender cualquier consulta,
            solicitud
            o
            problema relacionado con los servicios/productos proporcionados. Se establecerán tiempos máximos de
            respuesta
            para diferentes tipos de solicitudes, los cuales serán comunicados al Cliente.</li>
        </ul>
      </li>
      <li><strong>Mantenimiento y Soporte Técnico:</strong>
        <ul>
          <li>Aparking proporcionará mantenimiento regular y soporte técnico para garantizar el funcionamiento adecuado
            de
            los servicios/productos suministrados. Esto incluirá actualizaciones, correcciones de errores y cualquier
            otra
            acción necesaria para mantener la operatividad.</li>
        </ul>
      </li>
      <li><strong>Confidencialidad y Seguridad:</strong>
        <ul>
          <li>Aparking se compromete a mantener la confidencialidad de toda la información confidencial del Cliente a la
            que
            tenga acceso durante la prestación de los servicios. Asimismo, implementará medidas de seguridad adecuadas
            para
            proteger los datos del Cliente contra accesos no autorizados o pérdidas.</li>
        </ul>
      </li>
      <li><strong>Cumplimiento Legal y Normativo:</strong>
        <ul>
          <li>Aparking cumplirá con todas las leyes, regulaciones y normativas aplicables relacionadas con la prestación
            de
            los servicios/productos, incluyendo aquellas relacionadas con la protección de datos, seguridad laboral y
            medio
            ambiente, entre otras.</li>
        </ul>

      </li>
    </p>


    <p>El Cliente confía en que Aparking cumplirá diligentemente con todas las obligaciones mencionadas anteriormente
      para
      garantizar una prestación de servicios/productos satisfactoria y de calidad.</p>
    <h1 id="obligaciones-del-cliente">Obligaciones del Cliente</h1>

    <p>
      <li><strong>
          <p>Pago oportuno:</p>
        </strong>
        <ul>
          <li>El Cliente se compromete a realizar los pagos correspondientes por los servicios/productos
            proporcionados
            por
            Aparking según lo acordado en el presente acuerdo y en los plazos estipulados.</li>
        </ul>
      </li>
      <li><strong>Uso adecuado:</strong>
        <ul>
          <li>El Cliente utilizará los servicios/productos proporcionados por Aparking de manera adecuada y conforme a
            los
            propósitos establecidos. Se abstendrá de utilizarlos para fines ilegales o no autorizados.</li>
        </ul>
      </li>
      <li><strong>Mantenimiento de la información:</strong>
        <ul>
          <li>El Cliente proporcionará información precisa y actualizada que sea necesaria para la prestación de los
            servicios/productos por parte de Aparking. Esto incluye, entre otros, datos de contacto, información de
            facturación y cualquier otra información relevante.</li>
        </ul>
      </li>
      <li><strong>Colaboración y cooperación:</strong>
        <ul>
          <li>El Cliente colaborará con Aparking proporcionando la información y los recursos necesarios para la
            entrega
            eficiente de los servicios/productos. Esto puede incluir acceso a instalaciones, datos relevantes, y
            cualquier
            otra forma de cooperación necesaria para el cumplimiento del acuerdo.</li>
        </ul>
      </li>
      <li><strong>Seguridad y confidencialidad:</strong>
        <ul>
          <li>El Cliente será responsable de mantener la seguridad y confidencialidad de cualquier información
            confidencial
            proporcionada por Aparking durante la prestación de los servicios. Se comprometerá a no divulgar dicha
            información a terceros sin el consentimiento expreso de Aparking.</li>
        </ul>
      </li>
      <li><strong>Notificación de problemas:</strong>
        <ul>
          <li>El Cliente notificará a Aparking cualquier problema, mal funcionamiento o inconveniente relacionado con
            los
            servicios/productos proporcionados tan pronto como sea razonablemente posible para permitir que Aparking
            tome
            las medidas correctivas necesarias.</li>
        </ul>
      </li>
    </p>

    <p>El Cliente reconoce y acepta que el cumplimiento de estas obligaciones es esencial para la entrega eficiente de
      los
      servicios/productos por parte de Aparking.</p>
    <h1 id="pol-tica-de-privacidad">Política de Privacidad</h1>
    <p>Nuestra Política de Privacidad describe nuestras prácticas de manejo de datos, subrayando nuestro compromiso con
      la
      protección de la privacidad del cliente.</p>
    <p><strong>Consentimiento para el Uso de Datos de Forma Anónima</strong></p>
    <p>Al aceptar estos términos y condiciones, el Cliente otorga su consentimiento para que Aparking recopile y utilice
      de
      forma anónima los datos generados por su uso de la aplicación y el sitio web de búsqueda de aparcamiento. Estos
      datos
      serán utilizados con el propósito de generar estadísticas, análisis de rendimiento y mejorar la calidad de
      nuestros
      servicios. Aparking se compromete a no revelar información personal identificable del Cliente a terceros en ningún
      momento durante este proceso. El Cliente reconoce y acepta que los datos anónimos recopilados podrán ser
      compartidos
      con terceros con el objetivo de mejorar la experiencia del usuario y la funcionalidad de la aplicación y el sitio
      web
      de Aparking, siempre garantizando la confidencialidad y seguridad de la información del Cliente.</p>
    <p>Esta cláusula es esencial para asegurar una mejora continua de nuestros servicios, así como para mantener la
      calidad
      y eficiencia en la prestación de los mismos. Si el Cliente tiene alguna pregunta o inquietud sobre el uso de sus
      datos
      de forma anónima, puede comunicarse con Aparking a través de la información de contacto proporcionada en este
      Acuerdo.
    </p>
    <h1 id="pol-ticas-de-facturaci-n-y-pagos">Políticas de facturación y pagos</h1>
    <p>Esta sección incluye los costos asociados con nuestros servicios/productos, el calendario de pagos, los métodos
      de
      pago aceptados, los procedimientos de facturación y las implicaciones de los pagos atrasados.</p>
    <h4 id="tarifas-de-servicios-productos-">
      <p>Tarifas de Servicios/Productos:</p>
    </h4>

    <ul>
      <p>
        <li><strong>Plan Gratis:</strong>
          <ul>
            <li>Costo: 0€</li>
            <li>Incluye: 50 créditos y un garaje.</li>
          </ul>
        </li>
        <li><strong>Plan Noble:</strong>
          <ul>
            <li>Costo: 3.99€</li>
            <li>Incluye: 300 créditos y 3 garajes.</li>
          </ul>
        </li>
        <li><strong>Plan King:</strong>
          <ul>
            <li>Costo: 4.99€</li>
            <li>Incluye: 1000 créditos y 5 garajes.</li>
          </ul>
        </li>
        <li><strong>Tarifas Adicionales:</strong>
          <ul>
            <li>Créditos adicionales: 0.049€ por crédito extra.</li>
          </ul>
        </li>
      </p>
    </ul>

    <h4 id="condiciones-de-pago-">
      <p>Condiciones de Pago:</p>
    </h4>

    <div>

      <ul>
        <p>
          <li><strong>Plazos:</strong>
            <ul>
              <li>El Cliente deberá realizar el pago de acuerdo con el plan seleccionado:<ul>
                  <li>Para el Plan Gratis, no se requiere ningún pago.</li>
                  <li>Para los Planes Noble y King, el pago se realizará mensualmente por adelantado.</li>
                </ul>
              </li>
            </ul>
          </li>
          <li><strong>Métodos de Pago Aceptados:</strong>
            <ul>
              <li>Aparking acepta los siguientes métodos de pago:<ul>
                  <li>Tarjeta de crédito/débito.</li>
                  <li>Transferencia bancaria.</li>
                  <li>Otros métodos de pago electrónicos especificados por Aparking.</li>
                </ul>
              </li>
            </ul>
          </li>
        </p>
      </ul>
      <h4 id="pol-tica-de-facturaci-n-y-penalizaciones-por-pagos-atrasados-">
        <p>Política de Facturación y Penalizaciones
          por
          Pagos Atrasados:</p>
      </h4>
      <ul>
        <p>
          <li><strong>Facturación:</strong>
            <ul>
              <li>Aparking emitirá facturas mensuales detallando los servicios/productos utilizados por el Cliente, así
                como
                cualquier tarifa adicional administrada.</li>
            </ul>
          </li>
          <li><strong>Pagos Atrasados:</strong>
            <ul>
              <li>En caso de que el Cliente no realice el pago dentro de los plazos establecidos, se aplicarán las
                siguientes
                penalizaciones:<ul>
                  <li><strong>Primer Aviso:</strong> Aparking enviará un aviso de pago pendiente al Cliente, otorgándole
                    un
                    plazo adicional de 3 días laborales para realizar el pago sin penalizaciones adicionales.</li>
                  <li><strong>Segundo Aviso:</strong> En caso de persistir el impago después del primer aviso, Aparking
                    aplicará
                    una penalización del 25% del monto total adeudado como recargo por mora.</li>
                  <li><strong>Suspensión del Servicio:</strong> Si el Cliente continúa en mora después del segundo
                    aviso,
                    Aparking se reserva el derecho de suspender temporalmente los servicios/productos proporcionados
                    hasta
                    que
                    se realice el pago pendiente, sin perjuicio de las demás acciones legales disponibles.</li>
                </ul>
              </li>
            </ul>
          </li>
        </p>
      </ul>

    </div>

    <p>El Cliente acepta que el incumplimiento de las condiciones de pago establecidas puede resultar en la suspensión
      de
      los servicios/productos proporcionados por Aparking y en la aplicación de penalizaciones financieras adicionales.
    </p>
    <h1 id="propiedad-intelectual">Propiedad Intelectual</h1>
    <p>En esta sección se establecen las disposiciones relacionadas con la propiedad intelectual en el acuerdo entre
      Aparking y el Cliente, incluyendo derechos de autor, marcas comerciales, derechos de autor de software y otros
      aspectos relevantes.</p>
    <h4 id="derechos-de-autor-">
      <p>Derechos de Autor:</p>
    </h4>

    <li>

      <strong>
        <p>Contenido Proporcionado por Aparking:</p>
      </strong>

      <ul>
        <p>
          <li>Todos los derechos de autor sobre el software, contenido, documentación y cualquier otro material
            proporcionado por Aparking en relación con los servicios/productos ofrecidos, quedan reservados y son
            propiedad
            exclusiva de Aparking o de sus licenciantes, según corresponda.</li>
        </p>
      </ul>

    </li>
    <li><strong>
        <p>Uso Autorizado:</p>
      </strong>
      <ul>
        <p>
          <li>Aparking otorga al Cliente una licencia no exclusiva, no transferible y revocable para utilizar el
            software
            y
            otros materiales proporcionados únicamente con el propósito de utilizar los servicios/productos de acuerdo
            con
            los términos y condiciones del presente acuerdo.</li>
        </p>
      </ul>
    </li>
    <li><strong>
        <p>Restricciones:</p>
      </strong>
      <ul>
        <p>
          <li>El Cliente se compromete a no copiar, modificar, distribuir, sublicenciar, vender o realizar ingeniería
            inversa sobre el software o cualquier otro material proporcionado por Aparking, salvo en la medida
            expresamente
            autorizada por el presente acuerdo o por la ley aplicable.</li>
        </p>
      </ul>
    </li>

    <h4 id="marcas-comerciales-">
      <p>Marcas Comerciales:</p>
    </h4>
    <ol>
      <li><strong>
          <p>Propiedad de Marcas:</p>
        </strong>
        <ul>
          <p>
            <li>Todas las marcas comerciales, logotipos y nombres comerciales utilizados en relación con los
              servicios/productos de Aparking son propiedad exclusiva de Aparking o de sus respectivos propietarios,
              según
              corresponda.</li>
          </p>
        </ul>
      </li>
      <li><strong>
          <p>Uso Autorizado:</p>
        </strong>
        <ul>
          <p>
            <li>El Cliente reconoce y acepta que no adquiere ningún derecho de propiedad sobre las marcas comerciales de
              Aparking o de terceros mediante el uso de los servicios/productos, y se compromete a utilizar dichas
              marcas
              de
              acuerdo con las directrices proporcionadas por Aparking.</li>
          </p>
        </ul>
      </li>
    </ol>
    <p>Derechos de Autor de Software:</p>
    <ol>
      <li><strong>
          <p>Propiedad y Licencia:</p>
        </strong>
        <ul>
          <p>
            <li>Todo el software proporcionado por Aparking está protegido por derechos de autor y otras leyes de
              propiedad
              intelectual. Aparking retiene todos los derechos sobre el software, y el Cliente recibe una licencia
              limitada
              para usar dicho software de acuerdo con los términos y condiciones establecidos en el presente acuerdo.
            </li>
          </p>
        </ul>
      </li>
      <li><strong>
          <p>Restricciones de Uso:</p>
        </strong>
        <ul>
          <p>
            <li>El Cliente se compromete a no descompilar, desensamblar, realizar ingeniería inversa, modificar o crear
              trabajos derivados basados en el software proporcionado por Aparking, salvo en la medida en que lo permita
              la
              ley aplicable.</li>
          </p>
        </ul>
      </li>
    </ol>
    <p>El Cliente reconoce y acepta que la violación de las disposiciones relacionadas con la propiedad intelectual
      puede
      dar lugar a la terminación del presente acuerdo y a la aplicación de medidas legales adicionales por parte de
      Aparking
      para proteger sus derechos de propiedad intelectual.</p>
    <h1 id="confidencialidad">Confidencialidad</h1>
    <p>Compromiso de ambas partes de mantener la confidencialidad de la información privilegiada intercambiada durante
      la
      duración del acuerdo</p>
    <h1 id="terminaci-n">Terminación</h1>
    <h4 id="terminaci-n-del-acuerdo-">Terminación del Acuerdo:</h4>
    <ol>
      <p>
        <li><strong>Terminación por Mutuo Acuerdo:</strong> El acuerdo podrá ser terminado en cualquier momento por
          mutuo
          acuerdo por escrito entre Aparking y el Cliente.</li>
        <li><strong>Terminación por Incumplimiento:</strong> Cualquiera de las partes tendrá el derecho de terminar el
          acuerdo
          de inmediato en caso de incumplimiento sustancial por parte de la otra parte de cualquier disposición del
          acuerdo,
          a
          menos que el incumplimiento sea remediado por la parte incumplidora dentro de un período de 7 días laborales
          después
          de recibir un aviso por escrito de la parte no incumplidora.</li>
        <li><strong>Terminación por Conveniencia:</strong> Cualquiera de las partes tendrá el derecho de terminar el
          acuerdo
          en cualquier momento y por cualquier motivo, mediante la entrega de un aviso por escrito a la otra parte con
          al
          menos 1 mes de antelación.</li>
        <li><strong>Cancelación o Suspensión por Aparking:</strong> Aparking se reserva el derecho de cancelar o
          suspender
          el
          acceso del Cliente al Servicio con un aviso previo de al menos 5 días laborales en caso de incumplimiento
          sustancial
          por parte del Cliente de cualquier disposición de este Acuerdo, y si dicho incumplimiento no es corregido
          dentro
          del
          plazo especificado en el aviso.Efectos de la Terminación:</li>
      </p>
    </ol>
    <p>En caso de terminación del acuerdo por cualquier motivo, el Cliente deberá pagar a Aparking por todos los
      servicios/productos proporcionados hasta la fecha de terminación, y cualquier tarifa pendiente se convertirá en
      exigible inmediatamente. Asimismo, las disposiciones relacionadas con la confidencialidad, propiedad intelectual,
      indemnización y cualquier otra disposición que por su naturaleza deba sobrevivir a la terminación del acuerdo,
      seguirán siendo vinculantes para ambas partes después de la terminación del acuerdo.</p>
    <h1 id="limitaci-n-de-responsabilidad">Limitación de Responsabilidad</h1>
    <h4 id="limitaciones-de-responsabilidad-del-proveedor-aparking-">
      <p>Limitaciones de Responsabilidad del Proveedor
        (Aparking):</p>
    </h4>

    <li><strong>
        <p>Daños Directos:</p>
      </strong>
      <p>Aparking no será responsable ante el Cliente por ningún daño directo,
        incidental,
        consecuente, especial o ejemplar, incluyendo, entre otros, pérdida de beneficios, pérdida de datos o
        interrupción
        del negocio, surgidos de o en conexión con el uso o la imposibilidad de uso de los servicios/productos
        proporcionados.</p>
    </li>
    <p>
      <li>
        <strong>Fuerza Mayor:</strong> Aparking no será responsable por cualquier retraso, falla en el rendimiento o
        interrupción de los servicios/productos debido a causas fuera de su control razonable, incluyendo, entre
        otros,
        actos de Dios, guerras, disturbios civiles, actos de terrorismo, incendios, inundaciones, actos
        gubernamentales,
        fallos de proveedores de servicios de Internet o cualquier otro evento de fuerza mayor.
      </li>
    </p>

    <h4 id="limitaciones-de-responsabilidad-del-cliente-">
      <p>Limitaciones de Responsabilidad del Cliente:</p>
    </h4>

    <p>
      <li><strong>Uso Adecuado:</strong> El Cliente será responsable de utilizar los servicios/productos
        proporcionados
        por
        Aparking de manera adecuada y conforme a los propósitos establecidos en el presente acuerdo. Cualquier uso
        indebido
        que resulte en daños será responsabilidad exclusiva del Cliente.</li>
      <li><strong>Indemnización:</strong> El Cliente acuerda indemnizar y eximir de responsabilidad a Aparking, sus
        empleados, agentes y contratistas, de cualquier reclamación, daño, pérdida o gasto (incluyendo honorarios
        legales
        razonables) que surja del uso de los servicios/productos por parte del Cliente en violación de este acuerdo o
        de
        cualquier ley aplicable.</li>
    </p>

    <h1 id="cambios-en-el-acuerdo">Cambios en el Acuerdo</h1>
    <p>Cualquier modificación a este Acuerdo será comunicada a los Clientes con antelación, requiriendo su
      consentimiento
      explícito antes de su implementación. Los Clientes serán informados sobre los cambios y se les dará la opción de
      aceptar los términos actualizados o discontinuar el uso del Servicio, asegurando su derecho a elegir.</p>
    <h1 id="ley-aplicable">Ley Aplicable</h1>
    <p>Aunque el Acuerdo está regido principalmente por las leyes de la Jurisdicción especificada para garantizar una
      protección legal sólida, está diseñado para no excluir la aplicación de leyes de protección al consumidor que
      ofrezcan
      protecciones más fuertes a los Clientes basadas en su país de residencia.</p>
    <p>Para cualquier consulta o información adicional sobre este Acuerdo o nuestros servicios, los Clientes están
      invitados
      a contactar directamente a Aparking a través de la información de contacto proporcionada.</p>
    <h1 id="informaci-n-de-contacto">Información de Contacto</h1>
    <p>Si tiene alguna pregunta sobre este Acuerdo, no dude en ponerse en contacto con nosotros en
      aparking.g11&#64;gmail.com.
    </p>
  </div>

</ion-content>