ion-title {
    font-size: xxx-large;
    font-weight: 800;
    font-family: Lobster, sans-serif;
}

.container {
    font-family: 'Lobster', sans-serif;
    color: #333;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;

    h1,
    h2,
    h4,
    h5,
    h6 {
        font-weight: 900;
        margin-top: 20px;
    }

    h3,
    p,
    ul {
        font-family: 'Arial', sans-serif;
        color: #666;

        &.subtitle {
            font-size: 24px;
        }

        &.text {
            font-size: 18px;
        }

        &.section {
            font-size: 16px;
        }
    }

    li {
        margin-bottom: 10px;
    }

    blockquote {
        margin: 20px 0;
        padding: 10px 20px;
        border-left: 5px solid #ccc;
        color: #666;
        font-style: italic;
    }

    pre {
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 5px;
    }

    code {
        font-family: 'Courier New', monospace;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    .img {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        p {
            font-size: 16px;
        }
    }
}