.user-card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

ion-card {
  border: 1px solid green;
  padding: 20px;
  border-radius: 10px;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

ion-card-header {
  text-align: center;
}

.plans-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;

  ion-label {
    h2 {
      font-size: 1.1rem;
    }

    p {
      font-size: 1rem;
    }
  }

  ion-button {
    margin-top: 4px;
  }
}