<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="close" class="close-icon" (click)="closeModal()"></ion-icon>
    </ion-buttons>
    <ion-title class="title">Mis reservas</ion-title>
    <ion-title class="total">Total: {{ totalPrice }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="myBookings.length === 0" class="empty-message">
    <ion-card>
      <div class="center-content">
        <h1>No tienes reservas</h1>
      </div>
    </ion-card>
  </div>
  <ion-list *ngIf="myBookings.length > 0">
    <ion-card *ngFor="let book of myBookings">
      <ion-card-header *ngIf="book.garage">
        <div class="card-header">
          <ion-card-title>{{ book.garage.name }}</ion-card-title>
          <ion-buttons slot="end">
            <ion-button (click)="alertCancelBooking(book.id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <ion-card-subtitle>{{ book.garage.address.city }},
          {{ book.garage.address.address_line }},
          {{ book.garage.address.street_number }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Fecha de inicio</ion-label>
          <ion-text>{{
            book.availability.start_date | date : "yyyy-MM-dd"
            }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Fecha de fin</ion-label>
          <ion-text>{{
            book.availability.end_date | date : "yyyy-MM-dd"
            }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Precio</ion-label>
          <ion-text>{{ book.garage.price }} €</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-text>{{
            book.status === "CONFIRMED" ? "Confirmada" : book.status
            }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>