.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; // White background
  border: 1px solid #000000;
  scroll-behavior: auto;
}

.title {
  width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 100vh;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  --background: #f7f7f7; // Black background
  --color: #000000; // White text
  --border-radius: 10px; // Rounded borders
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 5px;
  --padding-bottom: 5px;
  width: 600px;
}

.label {
  --color: #000000; // Black color
  --position: floating; // Always floating
}

.input {
  width: 400px;
}

.button {
  --background: #008000; // Green background
  --color: #fff; // White text
  --border-radius: 15px; // Rounded corners
}

.error-message {
  color: red;
  // other styles...
}

ion-datetime {
  --background: rgb(245, 235, 247);
  --background-rgb: 245, 235, 247;
  --wheel-highlight-background: rgb(218, 216, 255);
  --wheel-fade-background-rgb: 245, 235, 247;
}

ion-datetime::part(wheel-item) {
  color: rgb(0, 0, 0);
}

ion-datetime::part(wheel-item active) {
  color: rgb(128, 30, 171);
}
