<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="registerData.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="registerData.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="registerData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input type="text" [(ngModel)]="registerData.dni"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Birth Date</ion-label>
        <ion-input type="date" [(ngModel)]="registerData.birth_date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Gender</ion-label>
        <ion-input type="text" [(ngModel)]="registerData.gender"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="text" [(ngModel)]="registerData.phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Photo URL</ion-label>
        <ion-input type="text" [(ngModel)]="registerData.photo"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="saveRegister()">Submit</ion-button>

      <div *ngIf="submitted">
        <p>User was registered successfully!</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
