<!-- barra-busqueda.component.html -->
<ion-header>
  <ion-toolbar style="padding-top: 15px;">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="query" (search)="searchCities($event)" enterkeyhint="search"
      (ionClear)="manageClearCities()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let city of cities" (click)="closeModal(city)">
      {{ city.name }} ({{city.country_code}}) - {{ city.distance }}
    </ion-item>
  </ion-list>
</ion-content>