<ion-header translucent="true">
  <ion-toolbar>
    <ion-title class="appbar"><a href="/about-us">{{constants.APP_NAME}}</a></ion-title>

    <ion-button slot="end" style="background-color: transparent; --background: transparent; margin-right: 10px;"
      color="light" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map" href="/aparking/map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="garages">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Alquiler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-parking-cesion" (click)="goToCesion()">
      <ion-icon name="car"></ion-icon>
      <ion-label>Cesión</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Planes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>