<ion-header translucent="true">
  <ion-toolbar>
    <ion-title class="appbar">{{constants.APP_NAME}}</ion-title>

    <ion-button slot="end" style="background-color: transparent; --background: transparent; " color="light"
      (click)="logout()"> Salir

    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map" href="/aparking/map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="garages">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Alquileres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-parking-cesion" (click)="goToCesion()">
      <ion-icon name="car"></ion-icon>
      <ion-label>Cesiones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Suscripciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>