<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="garages">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Alquileres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
