<ion-header>
  <ion-toolbar>
    <ion-title> Publicar Garage </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-lg="6" size-md="8" size-xs="12">
        <form [formGroup]="garageForm" (ngSubmit)="saveGarage()" style="border-radius: 15px; padding: 20px; background-color: #fff;">
          
          <ion-list formGroupName="address" style="margin-bottom: 5px; border-radius: 15px;">
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;" >Número de Unidad</ion-label>
              <ion-input type="text" formControlName="unit_number"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Número de Calle</ion-label>
              <ion-input type="text" formControlName="street_number"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Dirección</ion-label>
              <ion-input type="text" formControlName="address_line"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Ciudad</ion-label>
              <ion-input type="text" formControlName="city"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Región</ion-label>
              <ion-input type="text" formControlName="region"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">País</ion-label>
              <ion-select formControlName="country">
                <ion-select-option value="ES">España</ion-select-option>
                <ion-select-option value="FR">Francia</ion-select-option>
                <ion-select-option value="IT">Italia</ion-select-option>
                <!-- Add more options as needed -->
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label style="flex: 2;">Código Postal</ion-label>
              <ion-input type="text" formControlName="postal_code"></ion-input>
            </ion-item>
          </ion-list>

          <ion-list style="margin-bottom: 5px; border-radius: 15px; ">
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Nombre</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Descripción</ion-label>
              <ion-input type="text" formControlName="description"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Altura</ion-label>
              <ion-input type="text" formControlName="height"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Ancho</ion-label>
              <ion-input type="text" formControlName="width"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Longitud</ion-label>
              <ion-input type="text" formControlName="length"></ion-input>
            </ion-item>
            <ion-item class="borde-interior">
              <ion-label style="flex: 2;">Precio</ion-label>
              <ion-input type="text" formControlName="price"></ion-input>
            </ion-item>
          </ion-list>

          <ion-item class="borde-interior">
            <ion-label style="flex: 2;">Fecha de Creación</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="creation_date"></ion-datetime>
          </ion-item>
          <ion-item class="borde-interior">
            <ion-label style="flex: 2;">Fecha de Modificación</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="modification_date"></ion-datetime>
          </ion-item>
          <ion-item class="borde-interior">
            <ion-label style="flex: 2;">¿Está Activo?</ion-label>
            <ion-checkbox formControlName="is_active"></ion-checkbox>
          </ion-item>
          <ion-item class="borde-interior">
            <ion-label style="flex: 2;">Propietario</ion-label>
            <ion-input type="text" formControlName="owner"></ion-input>
          </ion-item>
          <button class="boton-crear" expand="full" type="submit">Guardar Garage</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Footer </ion-title>
  </ion-toolbar>
</ion-footer>

