<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Cesiones de aparcamiento</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>

    <ion-card *ngFor="let item of parking?.parking; let i = index">
      <ion-card-header>
        <ion-card-title>{{ item[0].parking_type }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        tamaño del aparcamiento: {{ item[0].size }} <br>
        Aviso creado: {{item[0].created_at}} <br>
        Matricula: {{item[1].carModel}} <br>
        <a
          href="https://www.google.com/maps?q={{ parseLocation(item[0].location)?.latitude }},{{ parseLocation(item[0].location)?.longitude }}">Ir
          a la plaza</a>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>