<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Cesiones de aparcamiento</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>

    <ion-card *ngFor="let item of parking?.parking; let i = index">
      <ion-card-header>
        <ion-card-title>{{ item.parking_type }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        tamaño del aparcamiento: {{ item.size }} <br>
        Aviso creado: {{item.created_at}} <br>
        location: {{item?.location?.latitude}} <br>
        <a
          href="https://www.google.com/maps?q={{ parseLocation(item.location)?.latitude }},{{ parseLocation(item.location)?.longitude }}">Ir
          a la plaza</a>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>