ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-card.principal {
  border: 1px solid green;
  padding: 20px;
  border-radius: 10px;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

ion-card-header {
  text-align: center;
}

html,
ion-header,
ion-toolbar,
ion-title,
ion-list {
  margin: 0;
  padding: 0;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}