<ion-content class="page">
  <ion-card class="content">
    <ion-card-content class="card-content">
      <ion-text>
        <h2>El usuario ya está registrado</h2>
      </ion-text>
      <ion-button expand="full" (click)="navigateToLogin()">Iniciar Sesión</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="content">
    <ion-card-content  class="card-content">
      <ion-text>
        <h2>Si no está registrado, regístrese con este botón</h2>
      </ion-text>
      <ion-button expand="full" (click)="navigateToRegister()" class="button">Registrate</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
