$primary-font: "Lobster", sans-serif;
$secondary-font: 'Times New Roman', times, serif;
$primary-color: #403E39;
$error-color: red;
$border-width: thin;
$border-style: solid;
$border-radius: 3px;
$default-padding: 20px;
$default-margin: 5px;

.appbar,
.subtitle,
.title {
  font-weight: bold;
}

.appbar {
  font-family: $primary-font;
}

.title {
  font-size: x-large;
  font-family: $secondary-font;
}

.invalid-field {
  border-color: $error-color;
}

.box {
  border-color: $primary-color;
  border-width: $border-width;
  border-style: $border-style;
  border-radius: $border-radius;
  width: 90%;
  height: 50px;
}

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 60%;

  .subtitle {
    text-align: start;
    font-size: 20px;
    margin-bottom: $default-margin;
  }

  .logo {
    height: 300px;
    width: 600px;
    margin: 0;
    padding: 0;
  }

  .form-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: $default-margin;

    ion-button {
      padding: $default-margin;
      width: 90%;
    }
  }
}

ion-content {
  justify-content: center;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $default-padding;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0;

  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $default-padding;
    text-align: start;

    --padding-end: $default-padding;
    --padding-start: $default-padding;

    border: 2px solid #d6d6d6;

    ion-input {
      width: 90%;
      padding: $default-padding;
      text-align: start;

      --padding-end: $default-padding;
      --padding-start: $default-padding;

      border: 2px solid #d6d6d6;
    }
  }

  ion-button {
    padding: $default-margin;
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 30px;
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding-left: 5%;
}