$primary-font: "Lobster", sans-serif;
$secondary-font: 'Times New Roman', times, serif;
$primary-color: #403E39;
$error-color: red;
$default-margin: 5px;

.appbar {
  font-family: $primary-font;
  font-weight: bold;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.input-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.error {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: red;
}

ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid green;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

ion-button {
  padding: $default-margin;
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: 30px;
}