<ion-header>
  <ion-toolbar style="--background: transparent; --border-color: transparent;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="appbar">{{constants.APP_NAME}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding"
  style="display: flex; justify-content: center; align-items: center; height: 100%;">
  <form [formGroup]="loginForm" (submit)="logginSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="input-item">
          <ion-label position="floating">Email</ion-label>
          <ion-input fill="outline" placeholder="example@mail.com" formControlName="email" type="email"></ion-input>
        </ion-item>
        <div class="error">
          <app-error-message [field]="loginForm.get('email')!" [message]="'El email es obligatorio'"
            [error]="'required'"></app-error-message>
        </div>
        <div class="error">
          <app-error-message [field]="loginForm.get('email')!" [message]="'El email no es válido'"
            [error]="'email'"></app-error-message>
        </div>
        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input fill="outline" placeholder="Escriba su contraseña" formControlName="password"
            type="password"></ion-input>
        </ion-item>
        <div class="error">
          <app-error-message [field]="loginForm.get('password')!" [message]="'La contraseña es obligatoria'"
            [error]="'required'"></app-error-message>
        </div>
        <div class="error">
          <app-error-message [field]="loginForm.get('password')!" [message]="'Longitud mínima 6 caracteres'"
            [error]="'minlength'"></app-error-message>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid" shape="round"
      color="success">Enviar</ion-button>
  </form>
</ion-content>