$primary-font: "Lobster", sans-serif;
$secondary-font: 'Times New Roman', times, serif;
$primary-color: #403E39;
$error-color: red;
$border-width: thin;
$border-style: solid;
$border-radius: 3px;
$default-padding: 20px;
$default-margin: 5px;

.appbar,
.subtitle,
.title {
  font-weight: bold;
}

.appbar {
  font-family: $primary-font;
}

.title {
  font-size: x-large;
  font-family: $secondary-font;
}

.invalid-field {
  border-color: $error-color;
}

.box {
  border-color: $primary-color;
  border-width: $border-width;
  border-style: $border-style;
  border-radius: $border-radius;
  width: 90%;
  height: 50px;
}

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 60%;

  .subtitle {
    text-align: start;
    font-size: 20px;
    margin-bottom: $default-margin;
  }

  .logo {
    height: 300px;
    width: 600px;
    margin: 0;
    padding: 0;
  }

  .form-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: $default-margin;

    ion-button {
      padding: $default-margin;
      width: 90%;
    }
  }
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .title {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
  }

  .card-title {
    margin-top: 20px;
    font-size: 24px;
    color: #000;
    font-weight: bold;
  }
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0;

  .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 20px;

    ion-input {
      width: 90%;
      padding: 20px;
      text-align: start;

      --padding-end: 10px;
      --padding-start: 10px;
      border: 2px solid #d6d6d6;
    }
  }

  ion-button {
    padding: $default-margin;
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 30px;
  }
}

.input-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.error-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding-left: 5%;
}

.form-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid green;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.error {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: red;
}

.error-container {
  width: 90%;
  padding-left: 10px;
}