<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="loginData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="loginData.password"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="saveLogin()">Submit</ion-button>

      <div *ngIf="submitted">
        <p>User logged successfully!</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
