.appbar {
  font-weight: bold;
  font-family: Lobster, sans-serif;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.input-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.error {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: red;
}

ion-card {
  border: 1px solid green;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  border-radius: 10px;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

ion-card-header {
  text-align: center;
}

.checkbox-row {
  margin-top: 20px;
  display: flex;
  align-items: center;

  ion-label {
    font-size: 0.7em;
    text-align: left;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prefix {
  margin-right: 10px;
}

.prefix,
.phone {
  flex: 1;
}

.prefix ion-input,
.phone ion-input {
  width: 100%;
}

ion-button {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  width: 90%;
  height: 50px;
  margin-bottom: 10%;
}