ion-title {
  font-size: xxx-large;
  font-weight: 800;
  font-family: Lobster, sans-serif;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-container h2 {
  font-size: 36px;
  font-weight: 900;
  font-family: Lobster, sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 20px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.icon {
  width: 40px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.team-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.portrait {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
  .about-container {
    padding: 10px;
  }

  .about-container h2 {
    font-size: 24px;
  }

  .about-container p {
    font-size: 16px;
  }

  .social-links a {
    font-size: 18px;
  }
}