<ion-header >
  <ion-toolbar style="--background: transparent; --border-color: transparent;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="appbar">{{constants.APP_NAME}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-container">
    <h1>Sobre Nosotros</h1>
    <div>
      <img  src="assets/icons/carIcon.png" *ngIf="!isDarkMode" alt="logo"/>
      <img  src="assets/icons/aparkingCar.png" *ngIf="isDarkMode" alt="logo"/>
  </div>
    <h2>Nuestra Misión</h2>
    <p>En Aparking, nos esforzamos por proporcionar a nuestros usuarios una solución innovadora para los desafíos de estacionamiento en la vida cotidiana. Nuestra misión es facilitar la búsqueda y reserva de espacios de estacionamiento a través de la colaboración entre usuarios.</p>

    <h2>¿Cómo Funciona?</h2>
    <p>Aparking es una plataforma de colaboración entre conductores. Los usuarios pueden marcar y compartir la disponibilidad de espacios de estacionamiento en tiempo real. Al mismo tiempo, pueden recibir notificaciones sobre la disponibilidad de espacios cercanos, lo que hace que encontrar un lugar para aparcar sea más rápido y conveniente.</p>

    <h2>Nuestro Equipo</h2>
    <img src="assets/icons/pedro.png" alt="Equipo" class="portrait">
    <img src="assets/icons/alberto.png" alt="Equipo" class="portrait">
    <img src="assets/icons/Alejandro.png" alt="Equipo" class="portrait">
    <img src="assets/icons/carmen.png" alt="Equipo" class="portrait">
    <img src="assets/icons/enrique.png" alt="Equipo" class="portrait">
    <img src="assets/icons/ismael.png" alt="Equipo" class="portrait">
    <img src="assets/icons/ivan.png" alt="Equipo" class="portrait">
    <img src="assets/icons/jose.png" alt="Equipo" class="portrait">
    <img src="assets/icons/juancarlos.png" alt="Equipo" class="portrait">
    <img src="assets/icons/laura.png" alt="Equipo" class="portrait">
    <img src="assets/icons/sergio.png" alt="Equipo" class="portrait">
    <img src="assets/icons/maria.png" alt="Equipo" class="portrait">
    <img src="assets/icons/virgilio.png" alt="Equipo" class="portrait">
    <img src="assets/icons/mario.png" alt="Equipo" class="portrait">
    <p>Aquí está nuestro equipo de Aparking, apasionado por resolver los desafíos del estacionamiento en la ciudad. Desde desarrolladores hasta diseñadores, todos trabajamos juntos para brindarte la mejor experiencia posible.</p>

  </div>
</ion-content>

