/* Estilos generales */
ion-title {
  font-size: 28px; /* Tamaño de fuente aumentado */
}
.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centrar el contenido */
}

h1 {
  font-size: 36px; /* Tamaño de fuente aumentado */
  color: #000; /* Color de texto negro */
}

/* Estilos para el título */
.about-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para el texto */
.about-container p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

/* Estilos para la imagen del equipo */
.team-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
}

/* Estilos para los enlaces de redes sociales */
.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
}

/* Estilos para el contenido en dispositivos móviles */
@media only screen and (max-width: 600px) {
  .about-container {
      padding: 20px;
  }

  .about-container h2 {
      font-size: 20px;
  }

  .about-container p {
      font-size: 16px;
  }

  .team-image {
      max-width: 300px;
  }

  .social-links a {
      font-size: 18px;
  }
}

.portrait {
  width: 150px; /* Ajusta el ancho según sea necesario */
  height: auto; /* Aplica un borde redondeado para una apariencia más elegante */
  margin: 10px; /* Añade espacio entre las imágenes */
}

