<ion-content>
  <ion-card-header>
    <ion-card-title>Registrar un vehículo</ion-card-title>
  </ion-card-header>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="registerForm" (submit)="registerSubmit()">
        <ion-item>
          <ion-input errorText="La matricula del vehiculo es obligatoria" formControlName="carModel" label="Matricula" labelPlacement="floating" placeholder="1234 ABC" type="text" [autocapitalize]="true"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-select errorText="El color es obligatorio" formControlName="color" label="Color" labelPlacement="floating">
            <ion-select-option value="rojo">Rojo</ion-select-option>
            <ion-select-option value="verde">Verde</ion-select-option>
            <ion-select-option value="azul">Azul</ion-select-option>
            <ion-select-option value="amarillo">Amarillo</ion-select-option>
            <ion-select-option value="naranja">Naranja</ion-select-option>
            <ion-select-option value="violeta">Violeta</ion-select-option>
            <ion-select-option value="rosa">Rosa</ion-select-option>
            <ion-select-option value="blanco">Blanco</ion-select-option>
            <ion-select-option value="negro">Negro</ion-select-option>
            <ion-select-option value="gris">Gris</ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-input errorText="La altura del coche es obligatoria y debe ser positiva" formControlName="height" label="Altura" labelPlacement="floating" placeholder="altura" type="number" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input errorText="La anchura del coche es obligatoria y debe ser positiva" formControlName="width" label="Anchura" labelPlacement="floating" placeholder="anchura" type="number" step="0.01"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input errorText="El largo del coche es obligatorio y debe ser positiva" formControlName="length" label="Longitud" labelPlacement="floating" placeholder="largo" type="number" step="0.01"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-button expand="full" type="submit" [disabled]="!registerForm.valid" shape="round">
            Registra tu vehiculo
          </ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-card *ngFor="let item of vehicle; let i = index">
      <ion-card-header>
        <ion-card-title>Matricula coche: {{item.carModel}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Color: {{item.color}} <br>
        Tamaño: {{item.height}} <br>
        Ancho: {{item.width}} <br>
        Longitud: {{item.length}} <br>
        <ion-card-content>
          <ion-button *ngIf="item.principalCar !== true" slot="end" [disabled]="item.principalCar" style="background-color: transparent; --background: transparent;" color="light" (click)="item.id ? updateVehiculoPrincipal(item.id) : null">
            Convertir en coche principal
          </ion-button>

        </ion-card-content>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>