.appbar {
  font-weight: bold;
  font-family: "Lobster", sans-serif;
}

.invalid-field {
  border-color: red;
}

ion-card {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
}

ion-card-title {
  font-weight: bold;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

ion-item {
  --inner-padding-start: 10px;
  --inner-padding-end: 10px;
  border: 2px solid #d6d6d6;
  margin: 10px 0;
}

.error-container {
  width: 90%;
  margin: 0 auto;
  padding-left: 10px;
}

ion-button {
  margin-top: 20px;
  width: 90%;
  height: 50px;
}