<ion-header>
  <ion-toolbar style="--background: transparent; --border-color: transparent;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/G11/aparKing/tab3"></ion-back-button>
        </ion-buttons>
        <ion-card-title>Registrar vehículo</ion-card-title>
      </ion-toolbar>
    </ion-card-header>
    <form [formGroup]="registerForm" (submit)="registerSubmit()">
      <ion-card-content>

        <ion-item class="input-item">
          <ion-label position="floating">Matrícula</ion-label>
          <ion-input formControlName="carModel" placeholder="1234 ABC" type="text" [autocapitalize]="true"></ion-input>
          <div class="error-message"
            *ngIf="registerForm.controls['carModel'].invalid && (registerForm.controls['carModel'].dirty || registerForm.controls['carModel'].touched)">
            La matricula del vehiculo es obligatoria
          </div>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Color</ion-label>
          <ion-select formControlName="color">
            <ion-select-option value="rojo">Rojo</ion-select-option>
            <ion-select-option value="verde">Verde</ion-select-option>
            <ion-select-option value="azul">Azul</ion-select-option>
            <ion-select-option value="amarillo">Amarillo</ion-select-option>
            <ion-select-option value="naranja">Naranja</ion-select-option>
            <ion-select-option value="violeta">Violeta</ion-select-option>
            <ion-select-option value="rosa">Rosa</ion-select-option>
            <ion-select-option value="blanco">Blanco</ion-select-option>
            <ion-select-option value="negro">Negro</ion-select-option>
            <ion-select-option value="gris">Gris</ion-select-option>
          </ion-select>
          <div class="error-message"
            *ngIf="registerForm.controls['color'].invalid && (registerForm.controls['color'].dirty || registerForm.controls['color'].touched)">
            El color es obligatorio
          </div>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Altura</ion-label>
          <ion-input formControlName="height" placeholder="En metros" type="number" step="0.01"></ion-input>
          <div class="error-message"
            *ngIf="registerForm.controls['height'].invalid && (registerForm.controls['height'].dirty || registerForm.controls['height'].touched)">
            La altura del coche es obligatoria y debe ser positiva
          </div>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Anchura</ion-label>
          <ion-input formControlName="width" placeholder="En metros" type="number" step="0.01"></ion-input>
          <div class="error-message"
            *ngIf="registerForm.controls['width'].invalid && (registerForm.controls['width'].dirty || registerForm.controls['width'].touched)">
            La anchura del coche es obligatoria y debe ser positiva
          </div>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Largo</ion-label>
          <ion-input formControlName="length" placeholder="En metros" type="number" step="0.01"></ion-input>
          <div class="error-message"
            *ngIf="registerForm.controls['length'].invalid && (registerForm.controls['length'].dirty || registerForm.controls['length'].touched)">
            El largo del coche es obligatorio y debe ser positiva
          </div>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="!registerForm.valid" shape="round" color="success">
          Registrar
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>