<ion-content>
  <p class="title">Registrar un vehiculo</p>


  <div class="body">
    <form [formGroup]="registerForm" (submit)="registerSubmit()">

      <div class="input-container">
        <ion-input fill="outline" placeholder="1234 ABC" label-placement="floating" label="carModel"
          formControlName="carModel" type="text" [autocapitalize]="true"></ion-input>
        <div class="error-conatiner">
          <app-error-message [field]="registerForm.get('carModel')!"
            [message]="'Debe introducir la matricula del vehiculo'" [error]="'required'"></app-error-message>
        </div>
      </div>

      <div class="input-container">
        <ion-input fill="outline" placeholder="azul" label-placement="floating" label="color" formControlName="color"
          type="text"></ion-input>
        <div class="error-conatiner">
          <app-error-message [field]="registerForm.get('color')!" [message]="'El color es obligatorio'"
            [error]="'required'"></app-error-message>
        </div>
      </div>

      <div class="input-container">
        <ion-input fill="outline" placeholder="altura" label-placement="floating" label="height"
          formControlName="height" type="number" step="0.01"></ion-input>
        <div class="error-conatiner">
          <app-error-message [field]="registerForm.get('height')!" [message]="'La altura del coche es obligatoria'"
            [error]="'required'"></app-error-message>
        </div>
      </div>
      <div class="input-container">
        <ion-input fill="outline" placeholder="anchura" label-placement="floating" label="width" formControlName="width"
          type="number" step="0.01"></ion-input>
        <div class="error-conatiner">
          <app-error-message [field]="registerForm.get('width')!" [message]="'La anchura del coche es obligatoria'"
            [error]="'required'"></app-error-message>
        </div>
      </div>

      <div class="input-container">
        <ion-input fill="outline" placeholder="largo" label-placement="floating" label="length" formControlName="length"
          type="number" step="0.01"></ion-input>
        <div class="error-conatiner">
          <app-error-message [field]="registerForm.get('length')!" [message]="'El largo del coche es obligatorio'"
            [error]="'required'"></app-error-message>
          <app-error-message [field]="registerForm.get('dni')!" [message]="'El dni no es válido'"
            [error]="'dniInvalid'"></app-error-message>
        </div>
      </div>
      <ion-button expand="full" type="submit" [disabled]="!registerForm.valid" shape="round"
        (click)="registerSubmit">Registrarse</ion-button>
    </form>
  </div>

</ion-content>