.draggable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: center;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
