<ion-content scroll-y="true">
  <div class="draggable">
    @if (parkingForm) {
    <form [formGroup]="parkingForm" (submit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-select label="Tamaño" formControlName="size" placeholder="Tamaño de la plaza" fill="outline">
            @for (item of parkingCreateResponse?.parking_sizes; track $index) {
            <ion-select-option value="{{ item[1] }}">{{
              item[1]
              }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="Tipo de cesión" formControlName="parking_type" placeholder="----" fill="outline">
            @for (item of parkingCreateResponse?.parking_types; track $index) {
            <ion-select-option value="{{ item[1] }}">{{
              item[1]
              }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
        <ion-item scroll-y="true">
          <div *ngIf="parkingForm.get('parking_type')?.value === 'Cesión'">
            <ion-item>
              <ion-label>Fecha y hora de la cesión:</ion-label>
              <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD YYYY HH:mm"
                formControlName="appointmentDateTime" [min]="minDateTime"></ion-datetime>
            </ion-item>
            <ion-button (click)="onSubmit()" disabled="{{ parkingForm.invalid }}" expand="block" color="primary">
              Publicar plaza
            </ion-button>
          </div>
        </ion-item>
      </ion-list>


    </form>
    }
  </div>
</ion-content>