$primary-color: #4CAF50;
$border-color: #ccc;
$font-family: arial, sans-serif;

.garage-card {
  width: 100%;
  max-width: 600px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15);
  margin: auto;
}


.card {
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.boton-crear {
  font-size: 18px;
  padding: 10px;
  background-color: green;
  color: white;
  width: 90%;
  height: 50px;
  border-radius: 25px;
}