<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Publicar Garaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2">
        <form
          [formGroup]="garageForm"
          (ngSubmit)="saveGarage()"
          enctype="multipart/form-data"
          style="border-radius: 5px; background-color: #fff"
        >
          <ion-card class="borde-interior">
            <ion-list class="borde-interior">
              <ion-item class="borde-interior">
                <ion-input
                  type="text"
                  label="Título"
                  formControlName="name"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="text"
                  label="Descripción"
                  formControlName="description"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="number"
                  label="Altura"
                  formControlName="height"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="number"
                  label="Ancho"
                  formControlName="width"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="number"
                  label="Longitud"
                  formControlName="length"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="number"
                  label="Precio"
                  formControlName="price"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-card class="borde-interior">
            <ion-list formGroupName="address" class="borde-interior">
              <ion-item class="borde-interior">
                <ion-input
                  type="text"
                  label="Plazas"
                  formControlName="unit_number"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="text"
                  label="Número"
                  formControlName="street_number"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="text"
                  label="Dirección"
                  formControlName="address_line"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="text"
                  label="Ciudad"
                  formControlName="city"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="text"
                  label="Region"
                  formControlName="region"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-select label="" formControlName="country">
                  <ion-select-option value="ES">España</ion-select-option>
                  <ion-select-option value="FR">Francia</ion-select-option>
                  <ion-select-option value="IT">Italia</ion-select-option>
                  <!-- Add more options as needed -->
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-input
                  type="text"
                  label="Código Postal"
                  formControlName="postal_code"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-card class="borde-interior">
            <ion-list formGroupName="images" class="borde-interior">
              <ion-item class="borde-interior">
                <ion-input
                  type="file"
                  label="Imagen"
                  formControlName="image"
                  (change)="uploadImage($event)"
                ></ion-input>
              </ion-item>

              <ion-item class="borde-interior">
                <ion-input
                  type="text"
                  label="Descripción"
                  formControlName="alt"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-card>

          <button class="boton-crear" expand="full" type="submit">
            Guardar Garage
          </button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
