<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Publicar Garaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <div class="garage-title">
        <ion-buttons slot="start">
          <a [routerLink]="['/G11/aparKing/garages']">
            <ion-button color="primary">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </a>
        </ion-buttons>
        <ion-card-title style="display: flex; margin: auto"
          >Publicar Garaje</ion-card-title
        >
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size-xs="12" size-md="8" offset-md="2">
          <form
            [formGroup]="garageForm"
            (ngSubmit)="saveGarage()"
            style="border-radius: 5px"
          >
            <ion-card-header class="borde-interior">
              <ion-card-title> </ion-card-title>
            </ion-card-header>

            <ion-card class="borde-interior">
              <ion-list class="borde-interior">
                <ion-item class="borde-interior">
                  <ion-input
                    label="Título"
                    type="text"
                    formControlName="name"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-input
                    label="Descripción"
                    type="text"
                    formControlName="description"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-input
                    label="Altura"
                    type="number"
                    formControlName="height"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-input
                    label="Ancho"
                    type="number"
                    formControlName="width"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-input
                    type="number"
                    label="Longitud"
                    formControlName="length"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-input
                    type="number"
                    label="Precio"
                    formControlName="price"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-checkbox formControlName="is_active"
                    >Disponible</ion-checkbox
                  >
                </ion-item>
              </ion-list>
            </ion-card>

            <ion-card class="borde-interior">
              <ion-list formGroupName="address" class="borde-interior">
                <ion-item class="borde-interior">
                  <ion-input
                    label="Número de Plazas"
                    type="text"
                    formControlName="unit_number"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-input
                    label="Número de Calle"
                    type="text"
                    formControlName="street_number"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-input
                    label="Dirección"
                    type="text"
                    formControlName="address_line"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-input
                    label="Ciudad"
                    type="text"
                    formControlName="city"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-input
                    label="Región"
                    type="text"
                    formControlName="region"
                  ></ion-input>
                </ion-item>

                <ion-item class="borde-interior">
                  <ion-select label="País" formControlName="country">
                    <ion-select-option value="ES">España</ion-select-option>
                    <ion-select-option value="FR">Francia</ion-select-option>
                    <ion-select-option value="IT">Italia</ion-select-option>
                    <!-- Add more options as needed -->
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-input
                    label="Código Postal"
                    type="text"
                    formControlName="postal_code"
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-card>

            <!-- IMAGE -->
            <form
              [formGroup]="imageForm"
              (ngSubmit)="saveGarage()"
              style="border-radius: 5px"
            >
              <ion-card class="borde-interior">
                <ion-list formGroupName="image" class="borde-interior">
                  <ion-item class="borde-interior">
                    <input
                      label="Imagen"
                      type="file"
                      formControlName="image"
                      (change)="onFileSelected($event)"
                    />
                  </ion-item>

                  <ion-item class="borde-interior">
                    <ion-input
                      label="Descripción de Imagen"
                      type="text"
                      formControlName="alt"
                    ></ion-input>
                  </ion-item>
                </ion-list>
              </ion-card>
            </form>

            <button class="boton-crear" expand="full" type="submit">
              Publicar Garaje
            </button>
          </form>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
