<ion-grid>
  <ion-buttons>
    <ion-button
      [routerLink]="'create'"
      color="danger"
      shape="round"
      size="small"
      >Añadir Garaje</ion-button
    >
    <ion-button
      (click)="openBookListModal()"
      color="success"
      shape="round"
      size="small"
      >Mis reservas</ion-button
    >
  </ion-buttons>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input
          #name
          type="text"
          label="Nombre"
          [clearInput]="true"
          [counter]="true"
          maxlength="70"
          placeholder="Introduce un nombre de garaje"
          (input)="onNameUpdated(name.value)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          #minPrice
          type="number"
          label="Precio mínimo"
          placeholder="35.00€"
          [clearInput]="true"
          (input)="onMinPriceUpdated(minPrice.value)"
        ></ion-input>

        <ion-input
          #maxPrice
          type="number"
          label="Precio máximo"
          placeholder="783.75€"
          [clearInput]="true"
          (input)="onMaxPriceUpdated(maxPrice.value)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          #minLength
          type="number"
          label="Longitud mínima"
          min="0.00"
          max="9999.99"
          placeholder="3.00"
          [clearInput]="true"
          (input)="onMinDimensionUpdated(minLength.value)"
        ></ion-input>

        <ion-input
          #maxLength
          type="number"
          label="Longitud máxima"
          min="0.00"
          max="9999.99"
          placeholder="15.00"
          [clearInput]="true"
          (input)="onMaxDimensionUpdated(maxLength.value)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          #city
          type="text"
          label="Ciudad"
          [clearInput]="true"
          [counter]="true"
          maxlength="50"
          placeholder="Introduce una ciudad"
          (input)="onCityUpdated(city.value)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          #country
          type="text"
          label="País"
          [clearInput]="true"
          [counter]="true"
          maxlength="40"
          placeholder="Introduce un país"
          (input)="onCountryUpdated(country.value)"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="resetFilters()">Buscar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-row *ngFor="let garage of dataGarage$ | async">
    <ion-card>
      <img
        *ngIf="garageImage[garage.id]?.length > 0"
        [src]="garageImage[garage.id]"
        alt="Imagen del garaje"
      />
      <img
        *ngIf="!garageImage[garage.id]"
        src="https://ionicframework.com/docs/img/demos/card-media.png"
        alt="Imágenes del garaje"
      />
      <ion-card-header>
        <ion-card-title>{{ garage.name }}</ion-card-title>
        <ion-card-subtitle>{{ garage.description }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          Dimensiones: {{ garage.height }} x {{ garage.width }} x
          {{ garage.length }}
        </p>
        <p>Precio: {{ garage.price }}</p>
        <p>Día de subida: {{ garage.creation_date }}</p>
        <ion-button
          [routerLink]="garage.id.toString()"
          color="secondary"
          shape="round"
          size="small"
          >Ver detalles</ion-button
        >
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>
