<ion-grid>
  <ion-buttons>
    <ion-button
      color="danger"
      shape="round"
      size="small"
      (click)="navigateToCreateGarage()"
      >Añadir Garaje</ion-button
    >
    <ion-button
      (click)="openBookListModal()"
      color="success"
      shape="round"
      size="small"
      >Mis reservas
    </ion-button>

    <ion-button
      (click)="openMyGaragesModal()"
      color="orange"
      shape="round"
      size="small"
      >Mis Garajes
    </ion-button>
  </ion-buttons>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Búsqueda por filtros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Mis Garajes</ion-label>

        <ion-checkbox
          [disabled]="!hasGarages()"
          slot="start"
          [(ngModel)]="filterMyGarages"
        ></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-input
          type="text"
          label="Nombre"
          [clearInput]="true"
          [counter]="true"
          maxlength="70"
          placeholder="Introduce un nombre de garaje"
          [(ngModel)]="filterTitle"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          label="Precio mínimo"
          placeholder="0.00€"
          [clearInput]="true"
          [(ngModel)]="filterPriceMin"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          label="Precio máximo"
          placeholder="783.75€"
          [clearInput]="true"
          [(ngModel)]="filterPriceMax"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          label="Dimensión mínima"
          min="0.00"
          max="9999.99"
          placeholder="3.00"
          [clearInput]="true"
          [(ngModel)]="filterDimensionMin"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="text"
          label="Ciudad"
          [clearInput]="true"
          [counter]="true"
          maxlength="50"
          placeholder="Introduce una ciudad"
          [(ngModel)]="filterCity"
        ></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-row *ngIf="garages.length < 1">
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay garajes disponibles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          No hay garajes disponibles en este momento, por favor, inténtelo más
          tarde.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row *ngIf="garages.length >= 1">
    <ion-card
      *ngFor="let garage of filteredGarages"
      [routerLink]="[garage.id]"
      style="width: 100%"
    >
      <ion-img [src]="garage.image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ garage.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="atributo">
          <p style="font-weight: bold">Descripción:</p>
          {{ garage.description }}
        </div>
        <div class="atributo">
          <p style="font-weight: bold">Dirección:</p>
          {{ garage.address }}
        </div>
        <div class="atributo">
          <p style="font-weight: bold">Precio:</p>
          {{ garage.price.replace(".", ",") }} €
        </div>
        <div class="atributo">
          <p style="font-weight: bold">Dimensiones:</p>
          {{ garage.dimensionsText.replace(".", ",") }}
        </div>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>
