<ion-grid>
  <ion-buttons>
    <ion-button
      [routerLink]="'create'"
      color="danger"
      shape="round"
      size="small"
      (click)="navigateToCreateGarage()"
      >Añadir Garaje</ion-button
    >
    <ion-button
      (click)="openBookListModal()"
      color="success"
      shape="round"
      size="small"
      >Mis reservas</ion-button
    >
  </ion-buttons>

  <ion-row *ngIf="garages.length < 1">
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay garajes disponibles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          No hay garajes disponibles en este momento, por favor, intente más
          tarde.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row *ngIf="garages.length >= 1">
    <ion-card
      *ngFor="let garage of garages"
      [routerLink]="[garage.id]"
      style="width: 100%"
    >
      <ion-img [src]="garage.image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ garage.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ garage.description }}</p>
        <p>{{ garage.address }}</p>
        <p>Precio: {{ garage.price }}</p>
        <p>Dimensiones: {{ garage.dimensions }}</p>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>
